@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'M PLUS 1 Code', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #008080;
}

.content {
    position: relative;
    border-color: #C3C3C3;
    border-style: solid;
    border-width: 2px;
    margin: 0;
    background-color: #0d0208;
    width: 95vw;
    height: auto;
    box-shadow: 2px 2px 4px #0d0208;
}

.content-text {
    color: white;
}

.window-title {
    position: relative;
    width: 65px;
    margin-left: 5px;
    color: white;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #000082;
}

.top-bar button {
    position: relative;
    margin-right: 5px;
}