@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #008080;
}

.icons-container {
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: -100;
}

.desktop-icons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 14px;
    color: white;
}

.desktop-icons img {
    width: 50%;
}

.icon {
    display: flex;
    flex-direction: column;
    margin: 15px;
}


.content {
    border-color: #C3C3C3;
    border-style: solid;
    border-width: 3px;
    margin: 0;
    background-color: #0d0208;
    width: 95vw;
    height: auto;
    box-shadow: 2px 2px 4px #0d0208;
}

.content-text {
    color: white;
}

.window-title {
    width: 65px;
    margin-left: 5px;
    margin-top: 2px;
    color: white;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 28px;
    background-color: #000082;
}

.top-bar button {
    height: 20px;
    width: 20px;
    margin-right: 5px;
    margin-top: 5px;
    background-color: #C3C3C3;
}

.window-buttons img {
    width: 200%;
    height: auto;
    margin-left: -4px;
}

.window-status {
    width: 100%;
    height: 10px;
    background-color: #C3C3C3;
}

.taskbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 47px;
    background-color: #C3C3C3;
}

.taskbar-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
}

.start-button {
    width: 60px;
    height: 100%;
    background-color: #C3C3C3;
}

.start-button img {
    width: 80%;
    height: auto;
}

.applications {
    display: flex;
    justify-content: space-between; 
    padding: 0;
  }

.applications button {
    background-color: #C3C3C3;
    height: 65%;
    margin: 10px;
}

.clock-box {
    margin-right: 5px;
    border-style: solid;
    border-color: #777777;
    border-bottom-color: #E3E3E3;
    border-right-color: #E3E3E3;
    width: 70px;
}

.clock {
    position: absolute;
    font-size: 15px;
    text-align: center;
    top: 14px;
}

.dtVideo {
    width: 50%;
    margin: auto;
}
